.site-header {
  background-color: var(--red);
  color: var(--white);
  padding: 1.75rem 1rem;
}

.site-header--transparent {
  background-color: transparent;
}

.site-header > a {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.site-header__logo {
  width: 340px;
  max-width: 100%;
}
